[Unit]
Description=i3lock
Before=sleep.target

[Service]
Type=forking
Environment=DISPLAY=:0
User=%i
ExecStart=/usr/bin/i3lock -e -i %h/.config/i3/lockscreen.png
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
